/* styles.css */

#sendProblemButton {
    background-color: #99FF33;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#sendProblemButton:hover {
    background-color: #0056b3;
}